<footer class="page-footer pt-4 bg-light">
    <div class="container ftespecial">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <h4 class="text-black">Siga-nos nas redes sociais</h4>
            </div>
            <div class="row">
                <div class="col-md-12 d-flex justify-content-center">
                    <ul class="social"><!--Ícones das redes sociais-->
                        <li>
                            <a href="https://www.linkedin.com/in/maria-adelia-de-campos/" target="_blank" class="icoLinkedin">
                                <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://twitter.com/folsommoon" target="_blank" class="icoTwitter">
                                <i class="fa fa-twitter-square" aria-hidden="true"></i>
                            </a>
                        </li>
                    </ul><!--/Ícones das redes sociais-->
                </div>
            </div>
        </div>
    </div>
    <div class="footer-copyright py-3 ftespecial d-flex justify-content-center bg-dark">
        <span class="text-light"> &copy; 2021: </span>
        <a href="https://github.com/mariaadelia" target="_blank" class="corhover"> Maria Adélia de Campos</a>
    </div>
</footer>
