<div class="container-fluid">
    <div class="row d-flex align-items-center">
        <!--/Login-->
        <div class="col-md-6">

            <div class="row d-flex justify-content-center">
                
                <div class="col-md-6">
                    <h1 class="fttitulo text-center mt-3 mb-3">Login</h1>
                    

                    <!--Formulario-->
                    <div class="form-group ftcorpo">
                        <label class = "mb-2" for="usuario">Usuário</label>
                        <input [(ngModel)]='usuarioLogin.usuario' type="text" class="form-control mb-3" id="usuario" name="usuario" placeholder="Seu usuário">
                    </div>
                    <div class="form-group ftcorpo">
                        <label class = "mb-2" for="senha">Senha</label>
                        <input [(ngModel)]='usuarioLogin.senha' type="password" class="form-control  mb-3" id="senha" name="senha" placeholder="Sua senha">
                    </div>
                    <div class="d-flex justify-content-center mt-4 ftcorpo">
                        <button type="submit" class="btn btn-success" (click)='entrar()'>Entrar</button>
                    </div>
                    <hr class="mt-5 mb-5">

                    <p class="text-center ftcorpo">
                        Não tem uma conta? <a routerLink='/cadastrar' >Cadastre-se</a>
                    </p>
                </div>
            </div>
            <!--/Formulario-->
        </div>
        <!--/Login-->
        <div class="col-md-6" id="img-background"></div>
        <!--Div para a imagem de fundo-->
    </div>
</div>